.main{
  display: flex;
  align-items: center;
  margin: 120px 90px 150px 90px;
}
.flexRow {
  display: flex;
  justify-content: space-between;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description {
  width: 616px;
  user-select: none;
  margin-right: 20px;
}
.header {
  font-size: 60px;
  line-height: 65px;
  text-align: left;
  margin-bottom: 20px;
}
.subHeader {
  text-align: left;
  margin-bottom: 30px;
}

.startNow {
  background-image: linear-gradient(
    to right,
    #682bd7 0%,
    #a37cf0 51%,
    #bd2e95 100%
  );
  cursor: pointer;
  margin: 10px 30px 0px 0px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
}

.startNow:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.blurSpot {
  position: absolute;
  height: 200px;
  width: 200px;
  transform: translate(-50%, 0%);
  border-radius: 50% 22% 40% 80%;
  background-image: radial-gradient(
    circle at 50% 50%,
    rgba(76, 0, 255, 1),
    rgba(76, 0, 255, 0)
  );
  border-radius: 100px;
  opacity: 0.5;
  filter: blur(70px);
}
.earth{
  margin-right: 90px;
}