.footerwavewrapper {
  position: relative;
  height: 200px;
  overflow: hidden;
}
.footerwave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 0;
}
.footerwave:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../components/imgs/wave.svg") repeat-x;
  background-size: cover;
  background-position: -1000px 0;
  opacity: 0.2;
  animation: waveOne 60s linear infinite;
}
@keyframes waveOne {
  50% {
    background-position: 0 0;
  }
}
.footerwave:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../components/imgs/wave.svg") repeat-x;
  background-size: cover;
  background-position: 2732px 0;
  opacity: 0.3;
  animation: waveOne 120s linear infinite;
}
