nav {
  display: flex;
  width: 100%;
  top: 0px;
  position: fixed;
  justify-content: space-between;
  z-index: 9;
  background-color: black;
  text-align: center;
  padding: 20px 8px;
  font-size: 20px;
  max-height: 70px;
}
.navrow {
  display: flex;
}
.navrow img {
  width: 40px;
  border-radius: 50%;
}
.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
}
.navflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.link {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transform: all 150ms;
  font-size: 20px;
  text-decoration: none;
  color: grey;
}

a {
  text-decoration: none;
}
