nav {
  display: flex;
  width: 100%;
  top: 0px;
  position: fixed;
  justify-content: space-between;
  z-index: 9;
  background-color: black;
  padding: 10px 15px;
  font-size: 20px;
}
nav a {
  color: grey;
  transition: all 300ms ease-in;
}
nav a:hover {
  color: white;
}
nav button {
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  background-color: #5f22d9;
}
nav button:hover { 
  background-color: #2c016d;
}
.navrow {
  display: flex;
  position: relative;
}
.navrow img {
  width: 40px;
  border-radius: 50%;
  max-width: 40px;
  cursor: pointer;
}
.logoutdropdown {
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  padding: 8px;
  z-index: 1;
}
.navflex {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}