.sendcard {
  padding: 0px 100px;
  background-color: rgb(26, 22, 22);
}
.walletchart {
  height: 340px;
  background-color: black;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}
.flexdiv {
  display: flex;
  height: 600px;
  margin-bottom: 50px;
}
/* th */
.sendformdiv {
  width: 70%;
  height: 100%;
}
.sendform {
  height: 100%;
  border-radius: 15px;
  background-color: black;
  padding: 40px 20px;
  margin-bottom: 20px;
}
.priceconverter h1 {
  font-size: 30px;
  color: white;
}
.priceconverter {
  font-size: 15px;
  color: rgb(221, 217, 217);
}
.sendform input {
  margin: 10px 0px;
  border-radius: 10px;
  color: black;
}
.form {
  display: flex;
  flex-direction: column;
}
.sendformcheckbox {
  border-radius: none;
}
.form button {
  padding: 10px 20px;
  width: 100%;
  background-color: purple;
  border-radius: 10px;
  margin-top: 10px;
}
.connectWallet {
  font-size: 20px;
  text-align: center;
}
.contactdiv {
  width: 30%;
  height: 100%;
  margin-left: 30px;
}
div.contact::-webkit-scrollbar {
  width: 0.01px;
  background-color: black;
}

div.contact::-webkit-scrollbar-thumb {
  background-color: black;
  color: rgba(54, 162, 235, 0.2);
}
.contact {
  padding: 20px;
  background-color: black;
  border-radius: 15px;
  height: 100%;
  overflow-y: scroll;
}
.contactlist {
  height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.contactcard {
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  justify-content: space-between;
  min-width: 280px;
  margin: 10px 0px;
  padding: 0px 0px 10px 0px ;
}
.contactcard:last-child {
  border-bottom: none;
}
.contactcard div:first-child {
  display: flex;
  align-items: center;
}
.contactcard img {
  width: 45px;
}
.contactspace {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.addcontact {
  display: flex;
  flex-direction: column;
}
.addcontact input {
  border-radius: 10px;
  margin: 5px 0px;
  color: black;
}
.addcontact button {
  background-color: purple;
  border-radius: 10px;
  padding: 10px;
}
.th {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
th {
  text-align: left;
  padding: 0px 20px;
}
.thcoloum {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
/* walletchart */
.thcoloum span {
  cursor: pointer;
}
.TransactionsHistorydiv {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 50px;
}
.transactions {
  border-radius: 15px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
  padding: 20px;
}
.transactionsover {
  max-height: 600px;
  overflow-y: scroll;
}
.transactionsover::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

.transactionsover::-webkit-scrollbar-thumb {
  background-color: rgb(97, 93, 93);
  color: rgba(54, 162, 235, 0.2);
}
.transactiontable {
  width: 100%;
}
.transactionrow td {
  padding: 10px;
  border-bottom: 1px solid grey;
}
.overflow :hover {
  background-color: rgb(65, 52, 52);
}
/* sendform */
.address {
  color: rgb(69, 69, 136);
  transition: color 0.5s ease-in;
  display: flexbox;
}
.addressfirst {
  display: flex;
}
.addressfirst img {
  width: 20px;
  margin-right: 15px;
  cursor: pointer;
}
.address :hover {
  color: blue;
}

.walletdetails {
  background-color: black;
  border-radius: 15px;
  padding: 20px;
  width: 300px;
  color: grey;
  margin-bottom: 20px;
}
.walletdetails :first-child {
  font-size: 30px;
  color: white;
}
.threedot {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.threedotcontainer {
  width: 20px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
  transition: fill 0.150s ease-in-out;
  margin-right: 20px;
}
.dots {
  width: 100%;
  height: 100%;
  fill: white;
}

.threedotcontainer:hover .dots {
  fill:grey;
  transition: fill 0.150s ease-in-out;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.dropdown-content a {
  color: black;
  padding: 0px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.rotate {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.add {
  cursor: pointer;
  display: flex;
  padding: 0px 0px 10px 0px;
  font-size: 50px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  user-select: none;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.add:hover {
  background-color: grey;
}
.button {
  width: 100%;
  text-align: left;
  padding: 10px 5px;
}
.oprow {
  display: flex;
}
.sortimg {
  width: 38px;
  object-fit: cover;
  cursor: pointer;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.red {
  background-color: red;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
}
.green {
  text-align: center;
  background-color: green;
  padding: 5px 10px;
  border-radius: 5px;
}
.green:hover {
  background-color: green;
}
.red:hover {
  background-color: red;
}

.qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
}
.qrcodediv {
  background-color: rgb(27, 26, 26);
  padding: 1% 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
}
.qrcodediv img {
  width: 20px;
  cursor: pointer;
  margin-right: 10px;
}
.qrcodediv div {
  margin: 40px auto;
}
.qrcodediv h1 {
  font-size: 40px;
}
.qrcodediv :last-child {
  display: flex;
}
.notconnectedsend{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.notconnected {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 47%;
}
.notconnected p {
  font-size: 15px;
  margin-bottom: 15px;
}
.notconnected button {
  display: flex;
  background-color: purple;
  border-radius: 10px;
  padding: 10px 20px;
}
@media (max-width: 500px) {
  .qrcodediv {
    background-color: rgb(27, 26, 26);
    padding: 1px 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    min-width: 430px;
  }
  .qrcodediv img {
    width: 20px;
    cursor: pointer;
    margin-right: 10px;
  }
  .qrcodediv div {
    margin: 5px auto;
  }
  .qrcodediv h1 {
    font-size: 40px;
  }
  .qrcodediv :last-child {
    display: flex;
  }
}

form.nosubmit {
  border: none;
  padding: 0;
}

input.nosubmit {
  color: black;
  width: 150px;
  border: 1px solid rgb(100, 93, 93);
  display: block;
  padding: 9px 4px 9px 40px;
  background: rgb(255, 255, 255)
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
  border-radius: 5px;
}
input.sendformcheckbox{
  border-radius: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}
input.sendformcheckbox:checked{
  background-color: purple;
  border: none;
}
input.sendformcheckbox:hover{
  background-color: rgb(255, 255, 255);
  border: none;

}
input.sendformcheckbox::after{
  border: solid white;
  border-width: 0 4px 4px 0;
  
}
input.sendformcheckbox::before{
  border: none;
  
}
.sortdiv{
  display: flex;
}
.sortdiv select{
  padding: 10px 30px 10px 10px;
  border-radius: 10px;
}

.name{
  font-size: 16px;
}
.walletaddress{
  font-size: 13px;
}
.date{
  font-size: 12px;
  color: grey;
}
.senddivlabel{
  font-size: 20px;
  margin-bottom: 10px;
}
.notsignedin{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.notsignedin h1{
  font-size: 20px;
}
.notsignedin button{
  background-color: purple;
  padding: 10px 20px;
  border-radius: 10px;
  margin:20px 10px 0px 0px;
}
.notsignedin:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.nocontactmessage{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}
.nocontactmessage img{
  width: 100px;
  object-fit: cover;
}
.nocontactmessage p{
  color: grey;
}
.nocontactmessage button{
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: purple;
  margin-top: 10px;
}

.notransactions{
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}